.HDmain {
    height: 3rem;
    width: 100%;
    background-color: white;
    padding:0.2rem;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
}
.hdmh3{
    font-size: 0.3rem;
    font-weight: bold;
}
.f16{
    font-size: 0.26rem;
}
.hditem{
    display: flex;
    line-height: 0.33rem;    
}
.hditem b{
    margin-right: 0.2rem;
}
.hditem div{
    color:#9a9a9a
}
.hdmhp{
    line-height: 0.3rem;
    color: #9a9a9a;
}